* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}
.w-1 {
  width: 90% !important;
  padding: 10px;
}
.flex {
  display: flex;
}
.primary-color {
  color: #115e59;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.text-white {
  color: #fff;
  font-size: 1.3rem;
}
.mr-1 {
  margin-right: 15px;
}
.mt-1 {
  margin-top: 150px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 50px;
}
.mt-4 {
  margin-top: 20px;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 30px;
}
.padding {
  padding: 25px 50px 25px 50px;
}
.position-fixed {
  position: fixed;
  z-index: 10;
  top: 0%;
  width: 100%;
}
.box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.img-fluid {
  width: 600px;
  border-radius: 10px;
  object-fit: cover;
}
.img-fluid2 {
  width: 650px;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}
.font-size {
  font-size: 50px;
}
.Navone {
  background-color: white;
  width: 100%;
  padding: 11px 50px 11px 50px;
}
.second-nav {
  background-color: black;
  width: 100%;
  padding: 25px 50px 25px 50px;
}
.logo-home {
  background-color: #115e59;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-bold {
  font-weight: bolder;
}
.size {
  font-size: 13px;
}
.list a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bolder;
}

.list a:hover {
  text-decoration: underline;
}
.btn-primary {
  background-color: #115e59;
  border: 0;
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  width: 170px;
  cursor: pointer;
  border-radius: 5px;
}
.video {
  width: 400px;
  border-radius: 10px;
}
.img-cctv {
  width: 400px;
  border-radius: 10px;
}
.img-fluid1 {
  width: 500px;
  margin-right: 10px;
  border-radius: 10px;
}
.card {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 20px;
  margin: 10px;
}
.shopping-card {
  width: 100%;
  height: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  text-align: center;
}
.bg-secondary {
  width: 100%;
  height: 300px;
  background-color: #dbeafe;
  text-align: center;
}
.shopping-img {
  width: 300px;
  object-fit: cover;
  text-align: center;
}
.shopping-img1 {
  width: 250px;
  object-fit: cover;
  text-align: center;
}
.text-center {
  text-align: center;
}
.testimo-card {
  width: 100%;
  height: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  text-align: center;
}
.test-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  text-align: center;
}
.footer {
  width: 100%;
  height: 400px;
  background-color: black;
  margin-top: 50px;
}
.font-small {
  font-size: 0.97rem;
}
.input {
  width: 100%;
  padding: 15px;
}
.w-100 {
  width: 100%;
}
.active {
  color: #a3cfcd !important;
  text-decoration: underline !important;
  font-weight: bold;
  font-size: 17px;
}
.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s 1s infinite both;
  animation: jello-horizontal 0.9s 1s infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-10-30 3:54:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.container {
  max-width: 600px;
  height: 500px;
  margin: 0 auto;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.09);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.form-group {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000;
}

.input1 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.09);
  color: #000;
  font-weight: bolder;
}
textarea {
  width: 100%;
  padding: 70px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.09);
  color: #000;
  font-weight: bolder;
}

.button {
  display: block;
  width: 100%;
  background-color: #115e59;
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.button:hover {
  background-color: #000;
}
.bg-with {
  background-image: url("/assests/img/cannon.jpg"); /* Specify the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
